.main{
    border-radius: 10px;
    width: 95%;
    height: 95vh;
    margin: auto;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.auth_left{
    width: 65%;
}

.auth_right{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_image{
    height: 95vh;
    width: 100%;
}

.input_box{
    width: 90%;
    margin: auto;
}

.input_box > div{
    margin: 25px 0px;
}

.name_container{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.label{
    font-size: 15px;
    margin-bottom: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}