.allCampground{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    row-gap: 30px;
    column-gap: 30px;  
}

.head{
    font-size: 25px;
}

.loadingContainer{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filterCont{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    align-items: center;
    margin-bottom: 60px;
}

.popOverContainer{
    width: 35vw;
    min-width: 300px;
    padding: 10px;
}

.popChild{
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}

.price{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}